.login_page {
    height: 100vh;
    position: relative;
}

.login_form_card {
    width: 27rem;
    height: 22rem !important;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
}

.login_form {
    position: relative;
    top: 10% !important;
}

.login_form_title {
    position: relative !important;
    top: 5% !important;
    color: #04496b;
    font-size: 24px !important;
    text-align: center;
    overflow: visible;
}

.login_form_label {
    color: #04496b;
    font-size: 14px;
    margin-bottom: -0.5vh !important;
}

.login_form_input {
    margin-bottom: 4%;
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
}

.login_card_footer {
    width: 100%;
    padding: 10px !important;
    text-align: center;
    font-size: 14px;
}

.login_submit_button {
    margin-left: 5%;
    margin-top: 10px;
    width: 360px;
    background-color: #04496b !important;
    border-color: #04496b !important;
}