.tictactoe_lobby {
    height: 100vh
}

.create_card {
    color: #04496b;
    height: 30vh !important;
    width: 30vw !important;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
}

.create_card .card-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.create_button {
    position: relative;
    margin-top: 3vh;
    width: 15vw;
    left: 6vw;
    background-color: #04496b !important;
    border-color: #04496b !important;
}

.game_access_column {
    padding-top: 10vh;
}

.lobby_card {
    position: relative;
    color: #04496b;
    height: 40vh !important;
    width: 45vw !important;
    margin-left: auto;
    right: 5vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.lobby_card .card-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.lobby_card_list_item {
    background-color: #04496b !important;
    color: white !important;
}