.tictactoe_game{
    height: 90vh;
    margin-top: 10vh;
}

.board_col {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.board {
    display: block;
    position: absolute;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.square {
    background: #fff;
    border: 1px solid #060606;
    height: 16vh;
    width: 8vw;
    font-size: 10vh;
    font-weight: bold;
    text-align: center;
    float: left;
}

.game_status {
    height: 37vh !important;
    width: 45vw !important;
}

.game_log {
    max-height: 45vh !important;
    width: 45vw !important;
}

.card {
    color: #04496b;
    margin-top: 1%;
    margin-bottom: 2%;
}

.card-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    overflow: visible;
}

.tictactoe_list_item {
    color: #04496b !important;
}

.status_list_title {
    font-weight: bold;
}

.back_button {
    position: relative;
    margin-top: 2vh;
    left: 12vw;
    width: 20vw;
    background-color: #04496b !important;
    border-color: #04496b !important;
}