.home {
    color: #04496b;
    text-align: center;
    height: 100vh;
}

.home_title {
    margin-top: 7%;
    padding-bottom: 2%;
}

.home_container {
    height: 70vh;
}

.home_row {
    height: 70vh;
}

.home_card {
    color: #04496b;
    height: 95% !important;
}

.home_card .card-header {
    font-size: 24px;
    font-weight: bold;
}