.navbar {
    width: 100%;
    font-size: 15px;
}

.navbar-brand {
    font-size: 25px !important;
}

.logout_button {
    display: flex;
    background-color: #04496b !important;
    border-color: #04496b !important;
    font-size: 15px !important;
}

.nav-pills .nav-link.active {
    color: #04496b !important;
    background-color: transparent !important;
    border-color: #04496b !important;
    border-width: 1px !important;
    border-style: solid !important;
}